* {
  font-family: Microsoft JhengHei;
}

.nav {
  margin: 1.2rem 2rem;
}

.nav .head {
  background-color: #77933c;
  color: white;
  border-radius: 0.25rem;
}

.nav .head img {
  height: 2rem;
  width: auto;
}

.nav .head .logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 0rem 1rem;
}

.nav .head .subtitle {
  font-size: 1.2rem;
}

.nav .search {
  height: 3rem;
  background-color: #c3d69b;
  padding: 0.5rem;
}

.nav img {
  height: 2rem;
  width: auto;
}

.menu-btn div {
  width: 2.5rem;
  height: 0.36rem;
  background-color: white;
  margin: 0.375rem 0;
  border-radius: 0.5rem;
}

.search .location {
  width: 90%;
}

.search .location input {
  background-color: #d7e4bd;
  height: 2rem;
  border: none;
  width: 100%;
  text-indent: 1rem;
  padding-right: 8%;
}

.search .search-btn {
  height: 2rem;
  width: auto;
  margin-left: 0.5rem;
}

.location img {
  position: absolute;
  right: 12%;
  height: 1.8rem;
}

.dropdown {
  overflow: hidden;
}

.analysis-box {
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  font-size: 1.3rem;
  overflow-y: auto;
}

.box {
  background-color: rgba(195, 214, 155, 0.3);
  margin-bottom: 0.5rem;
}

.box .title {
  color: #4f6228;
  background-color: rgba(195, 214, 155, 0.5);
  font-weight: bold;
  padding-left: 1rem;
}

.box ul {
  list-style-type: none;
  color: #77933c;
  padding-left: 1rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.box ul li {
  padding: 0.5rem 1rem 0.5rem 0rem;
}

